<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>
		<%- title %> | Veltrix - Responsive Bootstrap 4 Admin Dashboard
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
	<meta content="Themesbrand" name="author" />
	<link rel="shortcut icon" href="public/assets/images/favicon.ico" />

	<%- HeaderCss %>
	<%- include ('./Partials/HeaderStyle') %>
</head>

<body data-topbar="dark" data-layout="horizontal">
	<div id="layout-wrapper">
		<%- include ('./Partials/Horizontal/Header') %> 
        <%- include ('./Partials/Horizontal/TopNavigation') %>
		<div class="main-content">
			<div class="page-content">
				<div class="container-fluid">
					<%- include ('./Partials/Settings') %>
					<%- body %>
				</div>
			</div>
			<%- include ('./Partials/Footer') %>
		</div>
	</div>
	<%- include ('./Partials/Rightbar') %>
	<%- include ('./Partials/FooterScript') %>
	<%- FooterJs %>
	<!-- App js -->
	<script src="public/assets/js/app.js"></script>
	<%- BottomJs %>
</body>

</html>