<%- contentFor('HeaderCss') %>
<%- contentFor('title') %> Google Map
<%- contentFor('breadcrumb') %>
<div class="page-title-box">
	<h4 class="font-size-18">Google Map</h4>
	<ol class="breadcrumb mb-0">
		<li class="breadcrumb-item"><a href="javascript: void(0);">Veltrix</a></li>
		<li class="breadcrumb-item"><a href="javascript: void(0);">Maps</a></li>
		<li class="breadcrumb-item active">Google Map</li>
	</ol>
</div>

<%- contentFor('body') %>

<div class="row">
	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Markers</h4>
				<p class="card-title-desc">Example of google maps.</p>
				<div id="gmaps-markers" class="gmaps"></div>
			</div>
		</div>
	</div> <!-- end col -->

	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Overlays</h4>
				<p class="card-title-desc">Example of google maps.</p>
				<div id="gmaps-overlay" class="gmaps"></div>
			</div>
		</div>
	</div> <!-- end col -->
</div> <!-- end row -->


<div class="row">
	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Street View Panoramas</h4>
				<p class="card-title-desc">Example of google maps.</p>
				<div id="panorama" class="gmaps-panaroma"></div>
			</div>
		</div>
	</div> <!-- end col -->

	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Map Types</h4>
				<p class="card-title-desc">Example of google maps.</p>
				<div id="gmaps-types" class="gmaps"></div>
			</div>
		</div>
	</div> <!-- end col -->
</div> <!-- end row -->

<%- contentFor('FooterJs') %>
<!-- google maps api -->
<script src="https://maps.google.com/maps/api/js?key=AIzaSyCtSAR45TFgZjOs4nBFFZnII-6mMHLfSYI"></script>

<!-- Gmaps file -->
<script src="public/assets/libs/gmaps/gmaps.min.js"></script>

<!-- demo codes -->
<script src="public/assets/js/pages/gmaps.init.js"></script>
<%- contentFor('BottomJs') %>